/* line 1, ../../../web/sass/_reset.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 7, ../../../web/sass/_reset.scss */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

/* line 12, ../../../web/sass/_reset.scss */
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}

/**** Fonts colors ****/
/**** Boxes bg colors ****/
/**** Backgrounds ****/
/* line 1, ../../../web/sass/_body.scss */
body {
  background: #faf9f9;
  color: black;
  min-width: 770px !important;
}

/* line 6, ../../../web/sass/_body.scss */
header.nav-wrap {
  min-width: 770px !important;
}

/* line 1, ../../../web/sass/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 4, ../../../web/sass/_sticky-footer.scss */
#wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -82px;
}
/* line 8, ../../../web/sass/_sticky-footer.scss */
#wrapper:after {
  content: "";
  display: block;
}

/* line 14, ../../../web/sass/_sticky-footer.scss */
.site-footer, #wrapper:after {
  height: 82px;
}

/* line 18, ../../../web/sass/_sticky-footer.scss */
.site-footer {
  background: #313233;
  color: #e1e1e1;
}
/* line 22, ../../../web/sass/_sticky-footer.scss */
.site-footer .inner-footer {
  height: 100%;
  padding: 20px 0;
}

/* line 2, ../../../web/sass/_login.scss */
body.green {
  background: #cccccc;
}

/* line 7, ../../../web/sass/_login.scss */
div.login-block {
  margin: 20px auto 40px;
  color: black;
  height: 300px;
  position: relative;
  z-index: 99;
}
/* line 9, ../../../web/sass/_login.scss */
div.login-block h2 {
  margin-top: 30px;
}
/* line 19, ../../../web/sass/_login.scss */
div.login-block .block {
  background-color: #efefef;
}
/* line 21, ../../../web/sass/_login.scss */
div.login-block .block .image-block {
  background-color: #efefef;
}
/* line 24, ../../../web/sass/_login.scss */
div.login-block .block input {
  border-radius: 0;
  -o-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  float: left;
}
/* line 31, ../../../web/sass/_login.scss */
div.login-block .block .form-group {
  margin-bottom: 20px;
}
