/**** Fonts colors ****/

// Texts


//Titles


/**** Boxes bg colors ****/
$login-box-bg: #14608A;


/**** Backgrounds ****/
$nav-bg-color : white;
$content-bg-color : white;
$body-bg-color: #faf9f9;		
$login-body-bg-color: #3A8AC1;	
$home-layout-bg-color: #dddddd;	
$footer-bg-color: #313233;		
